<h1>Add a user</h1>




<!-- <label for="email">email</label>
<input type="text" name="email" id="email" class="fancy_form" > -->

<p>   <%= f.label :email %>
      <%= f.type_field :text %>
      <%= f.name_field :email %>
      <%= f.id_field :email %>
      <%= f.class_field :fancy_form %>
<br>
</p>

<!-- <label for="username">username</label>
<input type="text" name="username" id="username" class="fancy_form" > -->

<p>   <%= f.label :username %>
      <%= f.type_field :text %>
      <%= f.name_field :username %>
      <%= f.id_field :username %>
      <%= f.class_field :fancy_form %>
<br>
</p>

<!--
<label for="pin">pin</label>
<input type="text" name="pin" id="pin" class="fancy_form" -->

<p>   <%= f.label :pin %>
      <%= f.type_field :text %>
      <%= f.name_field :pin %>
      <%= f.id_field :pin %>
      <%= f.class_field :fancy_form %>
<br>
</p>

<!--
<label for="website">website</label>
<input type="text" name="website" id="website" class="fancy_form" > -->

<p>   <%= f.label :website %>
      <%= f.type_field :text %>
      <%= f.name_field :website %>
      <%= f.id_field :website %>
      <%= f.class_field :fancy_form %>
<br>
</p>

<!--
<label for="address">address</label>
<input type="text" name="address" id="address" class="fancy_form" > -->

<p>   <%= f.label :address %>
      <%= f.type_field :text %>
      <%= f.name_field :address %>
      <%= f.id_field :address %>
      <%= f.class_field :fancy_form %>
<br>
</p>
<!--
<label for="alias">alias</label>
<input type="text" name="alias" id="alias" class="fancy_form" > -->

<p>   <%= f.label :alias %>
      <%= f.type_field :text %>
      <%= f.name_field :alias %>
      <%= f.id_field :alias %>
      <%= f.class_field :fancy_form %>
<br>
</p>

  <p>    <%= f.submit "Save" %>   </p>
<% end %>
