<h1>Add a user</h1>


<p>
<% user = ['email', 'username', 'pin', 'website', 'address', 'alias'] %>

<% user.each do |detail| %>
  <label for="#{<%= detail %>}"><%= type %></label>
  <input type="text" name="#{<%= detail %>}" id="#{<%= detail %>}" class="fancy_form" >
<% end %>
<br>
</p>

<!--OR DO IT LIKE THIS THE LONG WAY  -->


<!-- <label for="email">email</label>
<input type="text" name="email" id="email" class="fancy_form" > -->

<p>   <%= f.label :email %>
      <%= f.type_field :text %>
<br>
</p>

<!-- <label for="username">username</label>
<input type="text" name="username" id="username" class="fancy_form" > -->

<p>   <%= f.label :username %>
      <%= f.name_field :username %>

<br>
</p>

<!--
<label for="pin">pin</label>
<input type="text" name="pin" id="pin" class="fancy_form" -->

<p>   <%= f.label :pin %>
      <%= f.id_field :pin %>

<br>
</p>

<!--
<label for="website">website</label>
<input type="text" name="website" id="website" class="fancy_form" > -->

<p>   <%= f.label :website %>
      <%= f.name_field :address %>
<br>
</p>

<!--
<label for="address">address</label>
<input type="text" name="address" id="address" class="fancy_form" > -->

<p>   <%= f.label :address %>
      <%= f.id_field :address %>

<br>
</p>
<!--
<label for="alias">alias</label>
<input type="text" name="alias" id="alias" class="fancy_form" > -->

<p>   <%= f.label :alias %>
      <%= f.class_field :fancy_form %>
<br>
</p>

  <p>    <%= f.submit "Save" %>   </p>
<% end %>
